body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(1212.jpg);
}

* {
  font-family: 'Gabarito', sans-serif;
font-family: 'Young Serif', serif;
}

.containar {
  display: flex;
  text-align: center;
  min-height: 100vh;
  padding: none;
  margin: -20px;
  background-color: #ffffffdc;
}

.heading {
  font-size: 25px;
  padding: 20px 0px;
}
.box {
  margin: auto;
  background: linear-gradient(0deg,#a33ae7,#7879f6 100%);
  padding: 50px 10px;
  border-radius: 3%;
  height: 330px;
  width: 240px;
  backdrop-filter: blur(2px);

}
.logo > img {
  height: 70px;
  background-color: #ffffff;
  border-radius: 200px;
}

strong {
  font-size: 50px;
  color: #ffffff;
}

.form input{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.601);
  margin: 5px 0px;
  padding-left: 18px;
  padding-top: 10px;
  color: #ffffff;
}
input::placeholder {
  color: hsla(0, 0%, 100%, 0.601);
}
.submit > button {
  border: 1px solid white;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background-color: #ffffff;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

samp {
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.525);
  color: rgb(255, 255, 255);
  transition: 1s;
  box-shadow: 3px 2px 0px 0px;
}

a {
  color: white;
  font-size: 15px;
  text-align: right;
  text-decoration: none;
  display: inline;
}

.remamber {
  display: block;
  padding-left: 22px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: left;
}

i {
  font-size: 12px;
  margin-right: -17px;
}

.re {
  align-items: start;
}
.login a {
  display: inline;
}

.re-password {
  margin-bottom: 5px;
}


input:hover {
  outline: none;
}

input:active {
  outline: none;
}

.f.p {
  font-size: 10px;
}

.remam {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: end;
  padding-right: 30px;
}
.box3 {
  margin: auto;
  background: linear-gradient(0deg,#a33ae7,#7879f6 100%);
  padding: 50px 10px;
  border-radius: 3%;
  height: 260px;
  width: 240px;
  backdrop-filter: blur(2px);
}

.for > a {
  font-size: 10px;
}
.for {
  display: inline;
}
.remam0 {
  display: inline;
  padding-right: 8px;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.remam0 > input {
  height: 13px;
  width: 13px;
  padding-bottom: -20px;
} 

.remam0 > label {
  padding-bottom: 10px;
}
.remam0 > .submit {
  height: 10px;
  width: 10px;
}

.login-link {
  color: rgb(255, 255, 255);
}